@import "./Variables.scss";

.App__Flag {
    width: inherit;
    height: 30px;
    text-align: center ;
    margin: 19px 0px;
    background-color: #545B77;

    &__Item {
        
        font-family: 'Monoton', cursive;
        letter-spacing: 20px;
        padding-top: 0.2%;
        font-size: 15px;
        color: $--background-color;
    }
}