@import "./Variables.scss";

.App__Section__SectionTitle {
    width: 100%;
    height: 60px;
    display: flex;

    &-title {
        
        text-align: center;
        margin-top: 5px;
        font-weight: 400;
        height: 100%;
        font-size: 20px;
        letter-spacing: 3px;
        color: $--sectionTitle-textColor;
    }
    &-blank {
        height: 40px;
        background-color: $--sectionTitle-blankColor;
    }
}