$--background-color: #EEEEEE;
$--btn-hover: #e2e2e2;
$--text-color: #2B2730;
$--input-hover: #9b9b9b;
$--sectionTitle-textColor: #222222;
$--sectionTitle-blankColor: #CFD2CF;
$--text-color-lighter: #FFFFFF;
$--page-color: #F2BE22;
$--collage-color:#aaaaaa;
$--text-color-collage: #D8D9DA ;
$--collage-dark-bg: #61677A;