@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

#App__Root {

    font-family: 'Montserrat', sans-serif;
    height: max-content;
    width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    
}